<ul class="categories">
    <li>
        <div>
            <img src="../assets/global/img/salad.svg" />
        </div>
        <h5>
            ورقيات
        </h5>
    </li>

    <li class="active">
        <div>
            <img src="../assets/global/img/grapes.svg" />
        </div>
        <h5>
            فواكة
        </h5>
    </li>

    <li>
        <div>
            <img src="../assets/global/img/carrot.svg" />
        </div>
        <h5>
            خضروات
        </h5>
    </li>

    <li>
        <div>
            <img src="../assets/global/img/harvest.svg" />
        </div>
        <h5>
            سلات
        </h5>
    </li>

    <li>
        <div>
            <img src="../assets/global/img/vegetables (1).svg" />
        </div>
        <h5>
            الكل
        </h5>
    </li>

</ul>
<ul class="products">
    <li>
        <img src="../assets/global/img/54fe493d07a7a-ghk-stainbuster-strawberry-mdn-98120767.png">
        <h5>
            فرولة
        </h5>
        <h6>
            8 جنية
        </h6>
        <h6>
            1 كيلو
        </h6>
        <div class="button">
            أضف إلى السلة
        </div>
    </li>
    <li>
        <img src="../assets/global/img/54fe493d07a7a-ghk-stainbuster-strawberry-mdn-98120767.png">
        <h5>
            فرولة
        </h5>
        <h6>
            8 جنية
        </h6>
        <h6>
            1 كيلو
        </h6>
        <div class="button">
            أضف إلى السلة
        </div>
    </li>
    <li>
        <img src="../assets/global/img/54fe493d07a7a-ghk-stainbuster-strawberry-mdn-98120767.png">
        <h5>
            فرولة
        </h5>
        <h6>
            8 جنية
        </h6>
        <h6>
            1 كيلو
        </h6>
        <div class="button">
            أضف إلى السلة
        </div>
    </li>
    <li>
        <img src="../assets/global/img/54fe493d07a7a-ghk-stainbuster-strawberry-mdn-98120767.png">
        <h5>
            فرولة
        </h5>
        <h6>
            8 جنية
        </h6>
        <h6>
            1 كيلو
        </h6>
        <div class="button">
            أضف إلى السلة
        </div>
    </li>
    <li>
        <img src="../assets/global/img/54fe493d07a7a-ghk-stainbuster-strawberry-mdn-98120767.png">
        <h5>
            فرولة
        </h5>
        <h6>
            8 جنية
        </h6>
        <h6>
            1 كيلو
        </h6>
        <div class="button">
            أضف إلى السلة
        </div>
    </li>
</ul>
<!--Scripts-->