<!DOCTYPE html>
<html>


<body class="profile">
    <div class="profileHeader">
        <div class="smallIcon">
            <div class="icon">
                <img src="./assets/global/img/chat.svg">
            </div>
            <h4 class="iconText">
                إستشر
            </h4>

        </div>
        <img class="profileImage" src="./assets/global/img/adult-boy-casual-220453@3x.png">

        <div class="smallIcon">
            <div class="icon">
                <img src="./assets/global/img/sprout.svg">
            </div>
            <h4 class="iconText">
                إنضم كبائع
            </h4>
        </div>
    </div>
    <div class="profileData">
        <h2>
            أحمد أبراهيم
        </h2>
        <h3>
            مالك مزرعة القادسيه
        </h3>
        <h3 class="city">
            المنصورة
        </h3>
        <h4 class="followers">
            ٨٨ متابعون
        </h4>
    </div>
    <div class="btnGroupContainer">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary">محفوظاتي</button>
            <button type="button" class="btn btn-secondary">مشاركاتي</button>
            <button type="button" class="btn btn-secondary">منشوراتي</button>
        </div>
    </div>
    <div class="postCard">
        <header>
            <img src="assets/global/img/adult-boy-casual-220453@3x.png">
            <div class="details">
                <h4 ng-click="redirectToExternalProfile()">
                    محمد حافض
                </h4>
                <time>
                    منذ 1 ساعة
                </time>
            </div>
        </header>
        <p>
            لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور
            النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ
            <a href="">إقرأ المزيد</a>
        </p>
        <ul class="shareingStatus">
            <li>
                12 إعجاب
            </li>
            <li>
                5 إعجاب
            </li>
            <li>
                5 مشاركة
            </li>
        </ul>
        <ul class="shareingButtons">
            <li>
                <img src="assets/global/img/heart.svg">
            </li>
            <li>
                <img src="assets/global/img/speech-bubble-with-text-lines.svg">
            </li>
            <li>
                <img src="assets/global/img/share.svg">
            </li>
        </ul>
    </div>
    <div class="postCard">
        <header>
            <img src="assets/global/img/adult-boy-casual-220453@3x.png">
            <div class="details">
                <h4>
                    عبدالرحمن نافع
                </h4>
                <time>
                    منذ 1 ساعة
                </time>
            </div>
        </header>
        <p>
            لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور
            النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ
            <a href="">إقرأ المزيد</a>
        </p>
        <ul class="shareingStatus">
            <li>
                12 إعجاب
            </li>
            <li>
                5 إعجاب
            </li>
            <li>
                5 مشاركة
            </li>
        </ul>
        <ul class="shareingButtons">
            <li>
                <img src="assets/global/img/heart.svg">
            </li>
            <li>
                <img src="assets/global/img/speech-bubble-with-text-lines.svg">
            </li>
            <li>
                <img src="assets/global/img/share.svg">
            </li>
        </ul>
    </div>
    <div class="postCard">
        <header>
            <img src="assets/global/img/adult-boy-casual-220453@3x.png">
            <div class="details">
                <h4>
                    أحمد نجيب
                </h4>
                <time>
                    منذ 1 ساعة
                </time>
            </div>
        </header>
        <p>
            لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور
            النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ
            <a href="">إقرأ المزيد</a>
        </p>
        <ul class="shareingStatus">
            <li>
                12 إعجاب
            </li>
            <li>
                5 إعجاب
            </li>
            <li>
                5 مشاركة
            </li>
        </ul>
        <ul class="shareingButtons">
            <li>
                <img src="assets/global/img/heart.svg">
            </li>
            <li>
                <img src="assets/global/img/speech-bubble-with-text-lines.svg">
            </li>
            <li>
                <img src="assets/global/img/share.svg">
            </li>
        </ul>
    </div>
    

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14/dist/smooth-scroll.polyfills.min.js"></script>

    <script src="js/main.js" type="text/javascript"></script>
</body>

</html>