<h2 class="title">
  مضاف حديثا
</h2>
<div class="postCard">
  <header>
    <img src="../assets/global/img/adult-boy-casual-220453@3x.png" />
    <div class="details">
      <h4 ui-sref="viewProfile">
        أحمد أبراهيم
      </h4>
      <time>
        منذ 1 ساعة
      </time>
    </div>
  </header>
  <p>
    لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
    ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص
    الشكلي منذ
    <a href="">إقرأ المزيد</a>
  </p>
  <ul class="shareingStatus">
    <li>
      12 إعجاب
    </li>
    <li>
      5 إعجاب
    </li>
    <li>
      5 مشاركة
    </li>
  </ul>
  <ul class="shareingButtons">
    <li>
      <img src="../assets/global/img/heart.svg" />
    </li>
    <li>
      <img src="../assets/global/img/speech-bubble-with-text-lines.svg" />
    </li>
    <li>
      <img src="../assets/global/img/share.svg" />
    </li>
  </ul>
</div>
<hr />
<h2 class="title">
  الأكثر قراءه
</h2>
<div class="postCard">
  <header>
    <img src="../assets/global/img/adult-boy-casual-220453@3x.png" />
    <div class="details">
      <h4 ui-sref="viewProfile">
        أحمد أبراهيم
      </h4>
      <time>
        منذ 1 ساعة
      </time>
    </div>
  </header>
  <p>
    لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
    ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص
    الشكلي منذ
    <a href="">إقرأ المزيد</a>
  </p>
  <ul class="shareingStatus">
    <li>
      12 إعجاب
    </li>
    <li>
      5 إعجاب
    </li>
    <li>
      5 مشاركة
    </li>
  </ul>
  <ul class="shareingButtons">
    <li>
      <img src="../assets/global/img/heart.svg" />
    </li>
    <li>
      <img src="../assets/global/img/speech-bubble-with-text-lines.svg" />
    </li>
    <li>
      <img src="../assets/global/img/share.svg" />
    </li>
  </ul>
</div>
<hr />
<h2 class="title">
  المقالات
</h2>
<div class="postCard withImage">
  <header>
    <img src="../assets/global/img/adult-boy-casual-220453@3x.png" />
    <div class="details">
      <h4 ui-sref="viewProfile">
        أحمد أبراهيم
      </h4>
      <time>
        منذ 1 ساعة
      </time>
    </div>
  </header>
  <img src="../assets/global/img/grass_ear_green_field_49425_1920x1080.png" />
  <h2>
    لوريم إيبسوم هو ببساطة
  </h2>
  <p>
    لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
    ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص
    الشكلي منذ
    <a href="">إقرأ المزيد</a>
  </p>
  <ul class="shareingStatus">
    <li>
      12 إعجاب
    </li>
    <li>
      5 إعجاب
    </li>
    <li>
      5 مشاركة
    </li>
  </ul>
  <ul class="shareingButtons">
    <li>
      <img src="../assets/global/img/heart.svg" />
    </li>
    <li>
      <img src="../assets/global/img/speech-bubble-with-text-lines.svg" />
    </li>
    <li>
      <img src="../assets/global/img/share.svg" />
    </li>
  </ul>
</div>
<div class="postCard withImage">
  <header>
    <img src="../assets/global/img/adult-boy-casual-220453@3x.png" />
    <div class="details">
      <h4 ui-sref="viewProfile">
        أحمد أبراهيم
      </h4>
      <time>
        منذ 1 ساعة
      </time>
    </div>
  </header>
  <img src="../assets/global/img/grass_ear_green_field_49425_1920x1080.png" />
  <h2>
    لوريم إيبسوم هو ببساطة
  </h2>
  <p>
    لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
    ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص
    الشكلي منذ
    <a href="">إقرأ المزيد</a>
  </p>
  <ul class="shareingStatus">
    <li>
      12 إعجاب
    </li>
    <li>
      5 إعجاب
    </li>
    <li>
      5 مشاركة
    </li>
  </ul>
  <ul class="shareingButtons">
    <li>
      <img src="../assets/global/img/heart.svg" />
    </li>
    <li>
      <img src="../assets/global/img/speech-bubble-with-text-lines.svg" />
    </li>
    <li>
      <img src="../assets/global/img/share.svg" />
    </li>
  </ul>
</div>
